<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Project 1</title>
        <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/archive.css">

</head>
<body>
    <div class="archivew1">

   <div class="container">
  <div class="header">
    <div class="row">
        <div class="col-lg-3" >
        <img src="/img/logo.png" alt="portfolio">
        </div>
        <div class="col-lg-9">
    <button  id="btn-small" class="btn float-right d-lg-none ">
        <span></span>
        <span></span>
        <span></span>
    </button>

<!--           <div class="nav-collapse d-lg-block d-md-none d-sm-none d-xs-none">-->

            <div class="nav-collapse d-lg-block">
                <nav>
                <ul>
                    <li ><a href="/home" >Home</a></li>
                    <li ><a href="/about">About</a></li>
                    <li><a href="/portfolio">Portfolio</a></li>
                    <li><a href="/blog">Blog</a></li>
                    <li><a href="/archive">Archives</a></li>
                    <li class="selected"><a href="/contact">Contact</a></li>
                </ul>
            </nav>

        <div class="search">
            <form>
                     <input type="text">
                     <input type="submit" hidden>
                 </form>
        </div>
            </div>
        </div>


    </div>
</div>
   </div>
    </div>

  <div class="archivew2">
    <div class="container">
        <div class="row">
            <div class="col-lg-9">
                <h2>Contact Us</h2>
                <div class="divider"></div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium est nisi, optio iure at ratione rerum, mollitia commodi, iste placeat illo temporibus reprehenderit repudiandae</p>

                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium est nisi, optio iure at ratione rerum, mollitia commodi, iste placeat illo temporibus reprehenderit   neque dolores, dolore ab fugiat velit., dolore ab fugiat velit., dolore ab fugiat velit. repudiandae neque dolores, dolore ab fugiat velit., dolore ab fugiat velit., dolore ab fugiat velit.</p>

                <form>
                <div class="row">
               <div class="input">
                <div class="col-lg-5">
                 <input type="text" placeholder="First name">
            </div>
                 </div>

                </div>


                 <div class="row">
               <div class="input">
                <div class="col-lg-5">
                 <input type="text" placeholder="Last name">
            </div>
                 </div>

                </div>

                 <div class="row">
               <div class="input">
                <div class="col-lg-5">
                 <input type="text" placeholder="Email Address">
            </div>
                 </div>

                </div>



          <div class="row">
           <div class="col-lg-7 col-md-7 col-sm-7">
           <div class="largeinput">
                <input type="text" placeholder="Message">
           </div>
              </div>
                </div>


               <span class="c">
                    <button type="submit">Send</button>
                        </span>

            </div>

            </form>
            <div class="col-lg-3">
                <h2>About Portfolio</h2>
                <div class="divider"></div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe architecto, eaque aliquid, rerum officiis voluptatum! Officiis </p>

                 <h2>Categories</h2>
                 <div class="divider"></div>
                 <ul>
                    <li><a href=" " >Video(3)</a></li>
                    <li><a href=" " >Sports(5)</a></li>
                    <li><a href=" " >Media(2)</a></li>
                    <li><a href=" " >Entertainment(18)</a></li>
                    <li><a href=" " >Life(6)</a></li>
                    <li><a href=" " >Super Cool Stuff(21)</a></li>
                </ul>

                  <h2>Twitter Widget</h2>
                 <div class="divider"></div>
            <div class="twidget"><p><a href=""><span class="gray">@pixelmatar</span> dolor sit amet, consectetur adipisicing.</a></p><p class="time">about 1 hour ago</p>    <p><a href=""><span class="gray">@pixelmatar</span> dolor sit amet, consectetur adipisicing.</a></p><p class="time">about 2 hour ago</p> <p><a href="">Follow @<span class="gray">psdfneebies</span> </a></p>
            </div>
            </div>
        </div>
    </div>

</div>
  <div class="w3">
       <div class="container">
           <div class="row">
               <div class="col-lg-3 zz">

                       <h4>About Portfolio</h4>
                       <hr>
                       <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam sunt quibusdam cum itaque alias aperiam architecto eligendi, pariatur autem provident, officiis dolor, magni facilis fuga sint. Minima animi veritatis at.</p>
                       <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia ipsa voluptates, similique,</p>
                   </div>

           <div class="col-lg-3 zz ">

                       <h4>Recent Posts</h4>
                       <hr>
                       <p>Lorem ipsum dolor sit amet, consectetur adipisicing. </p><p>itaque alias aperiam architecto eligendi,</p> <p>officiis dolor, magni facilis fuga sint. Minima animi veritatis at.</p>
                       <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p>
                   </div>

                <div class="col-lg-3 zz ">

                       <h4>Twitter Widget</h4>
                       <hr>
                        <div class="twidget"><p><a href=""><span class="gray">@pixelmatar</span> dolor sit amet, consectetur adipisicing.</a></p><p class="time">about 1 hour ago</p>    <p><a href=""><span class="gray">@pixelmatar</span> dolor sit amet, consectetur adipisicing.</a></p><p class="time">about 2 hour ago</p> <p><a href="">Follow @<span class="gray">psdfneebies</span> </a></p>
            </div>

               </div>
                <div class="col-lg-3 zz">

                       <h4>Flickr Widget</h4>
                       <hr>




                     <ul class="list-unstyled">
                         <li><img src="/img/smallpics.png" alt="small"></li>
                         <li><img src="/img/smallpics.png" alt="small"></li>
                         <li><img src="/img/smallpics.png" alt="small"></li>
                         <li><img src="/img/smallpics.png" alt="small"></li>

                         <li><img src="/img/smallpics.png" alt="small"></li>
                         <li><img src="/img/smallpics.png" alt="small"></li>
                         <li><img src="/img/smallpics.png" alt="small"></li>
                         <li><img src="/img/smallpics.png" alt="small"></li>
                     </ul>

                      <div class="clear"></div>


  </div>

           </div>



        </div>
         <div class="footer">
           <div class="container">
               <div class="row">
                   <div class="col-lg-2">
                       <img src="/img/logof.png" alt="portfolio">
                   </div>
                   <div class="col-lg-4"><span class="gray">The Ultimate portfolio Wordpress Theme on Web. t:(888) 842-8356 e:info@akshit's Project.1</span></div>
                   <div class="col-lg-3"></div>
                   <div class="col-lg-3"><span class="gray">Copyright 2012 Powered by </span>Wordpress Portfolio <span class="gray">Theme by</span> Tech Altums</div>
               </div>
           </div>
       </div>
       <button class="gototop">^</button>
    </div>
    <script src="/js/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <script>
    $(document).ready(function(){
        $("#btn-small").click(function(){
            $(".nav-collapse").slideToggle()
        })
         $(window).scroll(function(){
        var x=$(this).scrollTop();
        var y=$(this).scrollLeft();

        if( x>=100){
            $(".gototop").fadeIn();
        }
        else{
            $(".gototop").fadeOut();
        }

        // parallax

        var t="-"+(x/4);
        $("body").css({
            "background-position-y":t+"px",
        })



    })
         $(".gototop").click(function(){
        $("html,window").animate({
            "scrollTop":"0",
        })
    });
    })
    </script>
</body>
</html>
