<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Project 1</title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/archive.css">
     <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">

</head>

<body>



<div class="w1">

   <div class="container">
        <div class="header">
    <div class="row">
        <div class="col-lg-3" >
        <img src="/img/logo.png" alt="portfolio">
        </div>
        <div class="col-lg-9">
    <button  id="btn-small" class="btn float-right d-lg-none ">
        <span></span>
        <span></span>
        <span></span>
    </button>

<!--           <div class="nav-collapse d-lg-block d-md-none d-sm-none d-xs-none">-->

            <div class="nav-collapse d-lg-block">
                <nav>
                <ul>
                    <li class="selected" ><a href="/home">Home</a></li>
                    <li ><a href="/about">About</a></li>
                    <li><a href="/portfolio">Portfolio</a></li>
                    <li><a href="/blog">Blog</a></li>
                    <li><a href="/archive">Archives</a></li>
                    <li><a href="/contact">Contact</a></li>
                </ul>
            </nav>

        <div class="search">
            <form>
                     <input type="text">
                     <input type="submit" hidden>
                 </form>
        </div>
            </div>
        </div>


    </div>
</div>

<!--
<div class="slider">
    <div class="slide slide-active"></div>
    <div class="slide"></div>
    <div class="slide"></div>
    <div class="slide"></div>

    <ul class="pager">
        <li><a href="" class="active"></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
    </ul>
</div>
-->


  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">

      <div class="row">
          <div class="col-lg-5">
              <h1>Portfolio Website Theme:<br>
              Perfect For Anyone
              </h1>

              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore est facilis voluptate nam accusantium quasi porro possimus ex, delectus culpa. </p>

              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit magnam quasi laborum quisquam </p>

              <a href=" " class="grey">See more</a>
          </div>
          <div class="col-lg-7">
              <img src="/img/slider-1.png" alt="">
          </div>
      </div>

    </div>
    <div class="carousel-item">

      <div class="row">
          <div class="col-lg-5">
              <h1>Portfolio Website Theme:<br>
              Perfect For Anyone
              </h1>

              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore est facilis voluptate nam accusantium quasi porro possimus ex, delectus culpa. </p>

              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit magnam quasi laborum quisquam </p>

              <a href=" " class="grey">See more</a>
          </div>
          <div class="col-lg-7">
              <img src="/img/slider-1.png" alt="">
          </div>
      </div>

    </div>
    <div class="carousel-item">

      <div class="row">
          <div class="col-lg-5">
              <h1>Portfolio Website Theme:<br>
              Perfect For Anyone
              </h1>

              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore est facilis voluptate nam accusantium quasi porro possimus ex, delectus culpa. </p>

              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit magnam quasi laborum quisquam </p>

              <a href=" " class="grey">See more</a>
          </div>
          <div class="col-lg-7">
              <img src="/img/slider-1.png" alt="">
          </div>
      </div>

    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
</div>
    </div>
    <div class="w2">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 x">
                    <div class=" white y">

                        <h2>What I Can All Do</h2>
                        <p class="gray">Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p>
                        <p>Quisquam velit voluptate officia reprehenderit, debitis, doloribus quas iusto, natus provident consequatur id assumenda veritatis in earum! Dolorum illum quia asperiores facere.assumenda veritatis in earum! Dolorum illum quia asperiores facere.assumenda veritatis in earum!</p>

                       <div class="divider"></div>
                        <a href="..">Read more</a>
                    </div>

                </div>
                <div class="col-lg-3 x">
                    <div class=" white y">

                        <h2>A Little Bit About Me </h2>
                        <p class="gray">Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p>
                        <p>Quisquam velit voluptate officia reprehenderit, debitis, doloribus quas iusto, natus provident consequatur id assumenda veritatis in earum! Dolorum illum quia asperiores facere.assumenda veritatis in earum! Dolorum illum quia asperiores facere.assumenda veritatis in earum!</p>

                       <div class="divider"></div>
                        <a href="..">Read more</a>
                    </div>

                </div>
                <div class="col-lg-3 x">
                    <div class=" white y">

                        <h2>Follow Me On Twitter</h2>
                        <p class="gray">Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p>
                        <p>Quisquam velit voluptate officia reprehenderit, debitis, doloribus quas iusto, natus provident consequatur id assumenda veritatis in earum! Dolorum illum quia asperiores facere.assumenda veritatis in earum! Dolorum illum quia asperiores facere.assumenda veritatis in earum!</p>

                        <div class="divider"></div>
                        <a href="..">Read more</a>
                    </div>

                </div>
                 <div class="col-lg-3 x">
                    <div class=" white y">

                        <h2>Feel Free To Contact Me</h2>
                        <p class="gray">Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p>
                        <p>Quisquam velit voluptate officia reprehenderit, debitis, doloribus quas iusto, natus provident consequatur id assumenda veritatis in earum! Dolorum illum quia asperiores facere.assumenda veritatis in earum! Dolorum illum quia asperiores facere.assumenda veritatis in earum!</p>

                       <div class="divider"></div>
                        <a href="..">Read more</a>
                    </div>

                </div>
            </div>
    <div class="container">
    <div class="row">
        <div class="col-lg-6">
            <h3>Recent Work</h3>

        </div>
        <div class="col-lg-6">

        </div>
    </div>
        <div class="row">
            <div class="col-lg-12 ">
            <div class="divider"></div>
            </div>
        </div>
            </div>


        <div class="container z">
          <div class="row">

            <div class="col-lg-3 ab">
                <p><span class="gray">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui explicabo Lorem </span>ipsum dolor sit amet, consectetur adipisicing elit. Qui explicabo nam consequuntur. Totam nostrum excepturi perspiciatis temporibus animi blanditiis reprehenderit ducimus numquam doloribus. Officia explicabo nihil, reiciendis animi maiores omnis.</p>
            </div>

            <div class="col-lg-3 ">

                <img src="/img/img-1.jpeg" alt="1">
                 <div class="over">
                                    <ul>
                                        <li><p>201</p><p>Views</p></li>
                                        <li><p>201</p><p>Likes</p></li>
                                        <li><p>201</p><p>Comments</p></li>
                                    </ul>
                                </div>

            </div>
             <div class="col-lg-3 ">

                <img src="/img/img-2.jpeg" alt="1">
                 <div class="over">
                                    <ul>
                                        <li><p>201</p><p>Views</p></li>
                                        <li><p>201</p><p>Likes</p></li>
                                        <li><p>201</p><p>Comments</p></li>
                                    </ul>
                                </div>

            </div>
            <div class="col-lg-3 ">

                <img src="/img/img-3.jpeg" alt="1">
                 <div class="over">
                                    <ul>
                                        <li><p>201</p><p>Views</p></li>
                                        <li><p>201</p><p>Likes</p></li>
                                        <li><p>201</p><p>Comments</p></li>
                                    </ul>
                                </div>
            </div>

            <div class="col-lg-3"></div>
            <div class="col-lg-3  ">

                <img src="/img/img-4.jpeg" alt="1">
                 <div class="over">
                                    <ul>
                                        <li><p>201</p><p>Views</p></li>
                                        <li><p>201</p><p>Likes</p></li>
                                        <li><p>201</p><p>Comments</p></li>
                                    </ul>
                                </div>

            </div>
             <div class="col-lg-3 ">

                <img src="/img/img-5.jpeg" alt="1">
                 <div class="over">
                                    <ul>
                                        <li><p>201</p><p>Views</p></li>
                                        <li><p>201</p><p>Likes</p></li>
                                        <li><p>201</p><p>Comments</p></li>
                                    </ul>
                                </div>
            </div>

             <div class="col-lg-3 ">

                <img src="/img/img-6.jpeg" alt="1">
                 <div class="over">
                                    <ul>
                                        <li><p>201</p><p>Views</p></li>
                                        <li><p>201</p><p>Likes</p></li>
                                        <li><p>201</p><p>Comments</p></li>
                                    </ul>
                                </div>
            </div>

            </div>
        </div>
    </div>
        </div>

   <div class="w3">
       <div class="container">
           <div class="row">
               <div class="col-lg-3 zz">

                       <h4>About Portfolio</h4>
                       <hr>
                       <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam sunt quibusdam cum itaque alias aperiam architecto eligendi, pariatur autem provident, officiis dolor, magni facilis fuga sint. Minima animi veritatis at.</p>
                       <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia ipsa voluptates, similique,</p>
                   </div>

           <div class="col-lg-3 zz ">

                       <h4>Recent Posts</h4>
                       <hr>
                       <p>Lorem ipsum dolor sit amet, consectetur adipisicing. </p><p>itaque alias aperiam architecto eligendi,</p> <p>officiis dolor, magni facilis fuga sint. Minima animi veritatis at.</p>
                       <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p>
                   </div>

                <div class="col-lg-3 zz ">

                       <h4>Twitter Widget</h4>
                       <hr>
                        <div class="twidget"><p><a href=""><span class="gray">@pixelmatar</span> dolor sit amet, consectetur adipisicing.</a></p><p class="time">about 1 hour ago</p>    <p><a href=""><span class="gray">@pixelmatar</span> dolor sit amet, consectetur adipisicing.</a></p><p class="time">about 2 hour ago</p> <p><a href="">Follow @<span class="gray">psdfneebies</span> </a></p>
            </div>

               </div>
                <div class="col-lg-3 zz">

                       <h4>Flickr Widget</h4>
                       <hr>




                     <ul class="list-unstyled">
                         <li><img src="/img/smallpics.png" alt="small"></li>
                         <li><img src="/img/smallpics.png" alt="small"></li>
                         <li><img src="/img/smallpics.png" alt="small"></li>
                         <li><img src="/img/smallpics.png" alt="small"></li>

                         <li><img src="/img/smallpics.png" alt="small"></li>
                         <li><img src="/img/smallpics.png" alt="small"></li>
                         <li><img src="/img/smallpics.png" alt="small"></li>
                         <li><img src="/img/smallpics.png" alt="small"></li>
                     </ul>

                      <div class="clear"></div>


  </div>

           </div>



        </div>
         <div class="footer">
           <div class="container">
               <div class="row">
                   <div class="col-lg-2">
                       <img src="//img/logof.png" alt="portfolio">
                   </div>
                   <div class="col-lg-4"><span class="gray">The Ultimate portfolio Wordpress Theme on Web. t:(888) 842-8356 e:info@akshit's Project.1</span></div>
                   <div class="col-lg-3"></div>
                   <div class="col-lg-3"><span class="gray">Copyright 2012 Powered by </span>Wordpress Portfolio <span class="gray">Theme by</span> Tech Altums</div>
               </div>
           </div>
       </div>
       <button class="gototop">^</button>
    </div>
    <script src="/js/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <script>
    $(document).ready(function(){
        $("#btn-small").click(function(){
            $(".nav-collapse").slideToggle()
        })
         $(window).scroll(function(){
        var x=$(this).scrollTop();
        var y=$(this).scrollLeft();

        if( x>=100){
            $(".gototop").fadeIn();
        }
        else{
            $(".gototop").fadeOut();
        }

        // parallax

        var t="-"+(x/4);
        $("body").css({
            "background-position-y":t+"px",
        })



    })
         $(".gototop").click(function(){
        $("html,window").animate({
            "scrollTop":"0",
        })
    });
    })
    </script>
</body>
</html>
